@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body{
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.MainFooter{
    text-align: center;
    font-size: 12px;
    position: relative;
    margin: 0;
    padding: 2px;
    clear: both;
    background-color: rgb(64, 64, 64);
    }
header {
    background: #02bbff;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.navbar { 
    width: 80%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}
.logo {
    float: left;
    padding: 0px 0;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 25px;
    position: relative;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
nav a:hover {
    color: rgb(255, 255, 255);
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #fff;
    position: absolute;
    top: 0;
    transition: all ease-in-out 200ms;
}
nav a:hover::before {
    width: 100%;
}

.container {
    min-height: calc(100vh - 75px - 47px);
    overflow: auto;
    width: 80%;
    display: grid;
    margin: 0px auto;
    margin-top: 0.3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "main1 main1 content1"
    "main1 main1 content1"
    "main1 main1 content1"
    "main1 main1 content1"
    "main1 main1 content1"
    "content2 content2 content2"
    "content3 content3 content3"
    "content4 content4 content4"
    "content6 content5 content5"
    "content6 content5 content5";
    grid-gap: 0.3rem;
}
#main1 { 
    grid-area: main1;
    background-color: rgb(64, 64, 64);
    height: 750px;
}
#main1 h1{
    margin: 0.5rem;
}
#main1 p{
    margin: 0.5rem;
}
#content1{
    grid-area: content1;
    background-color: blueviolet;
}
#content2{
    grid-area: content2;
    background-color: crimson;
}
#content3{
    grid-area: content3;
    background-color: blueviolet;
}
#content4{
    grid-area: content4;
    background-color: crimson;
}
#content5{
    grid-area: content5;
    background-color: blueviolet;
}
#content6{
    grid-area: content6;
    background-color: crimson;
}
.btn{
    display: inline-block;
    border: none;
    color: rgb(255, 255, 255);
    padding: 0.75rem 1.5rem;
    margin: 1rem;
    background-color: #02bbff;
    transition: opacity 100ms ease-in-out;
}
.btn:hover{
    opacity: 0.7;
}

.burgermenu{
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
.burgermenu .toggler{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: 2;
}
.burgermenu .hamburger{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 41px;
    height: 41px;
    padding: 1rem;
    background: #02bbff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burgermenu .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
.burgermenu .hamburger > div:before,
.burgermenu .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.burgermenu .hamburger > div:after {
    top: 10px;
}
.burgermenu .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
.burgermenu .toggler:checked + .hamburger > div:before,
.burgermenu .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
.burgermenu .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.burgermenu .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burgermenu .menu > div{
    background: rgba(34, 34, 34, 0.9);
    border-radius: 50%;
    width: 400vw;
    height: 400vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.2s ease;
}
.burgermenu .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.burgermenu .menu > div > div > ul > li {
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 1rem;
}
.burgermenu .menu > div > div > ul > li > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.2s ease;
}



@media only screen and (min-width:800px){
    .burgermenu{
        opacity: 0;
    }
}
@media only screen and (max-width:800px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "main1"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6";
        margin: auto;
        overflow: hidden;
    }
    .navbar { 
        margin: 0 auto;
    }
    .logo {
        
        padding: 0px 0;
    }
    nav{
        width: 0%;
    }
    nav li{
        padding: 0;
        margin: 0;
    }
    nav a{
        font-size: 0;
    }
    .burgermenu .toggler:checked ~ .menu {
        visibility: visible;
    }
    .burgermenu .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: 0.2s;
    }
    .burgermenu .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0.2s ease;
    }
}